<!doctype html>
<html lang="en" ng-app='LunchCheckApp'>
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/module1.css">
  </head>
<body>
  <div class="container" ng-controller='LunchCheckController'>
    <h1>Lunch Checker</h1>

    <div class="form-group">
        <input ng-model="lunchList" ng-keyup="clearMessage();"  id="lunch-menu" type="text"
        placeholder="list comma separated dishes you usually have for lunch"
        class="form-control">
    </div>
    
    <div class="form-group">
      <button ng-click="displayMessage();" class="btn btn-default" id="btn-check">Check If Too Much</button>
    </div>

    <div ng-show="message" class="alert alert-success">{{message}}</div>
    <div ng-show="errorMessage" class=" alert alert-danger">{{errorMessage}}</div>


   </div>

</body>
</html>